<?xml version="1.0" encoding="utf-8"?>
<configuration>
	  <appSettings>
		  <add key="RTPS" value="rtsp://admin:killall123@192.168.10.153:554/cam/realmonitor?channel=1#subtype=0" />
		  <add key="Framerate" value="20" />
		  <add key="Canal" value="1" />
    <add key="Servidor-Sql" value="192.168.0.83" />
    <add key="Banco-SQL" value="Fiscalizacao_sp" />
	  <add key="BancoDbMonitor544" value="DbMonitor544" />
    <add key="Web" value="" />
    <add key="UrlWeb" value="" />
    <add key="WebZ" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	  <add key="Servidor" value="192.168.0.83" />
	  <add key="Banco" value="Fiscalizacao_sp" />
	  <add key="Servidor-Sql" value="192.168.0.83" />
	  <add key="Banco-SQL" value="Fiscalizacao_sp" />
	  <add key="Web" value="" />
	  <add key="UrlWeb" value="" />
	  <add key="WebZ" value="" />
	  <add key="User" value="vox41" />
	  <add key="PwdServidor" value="vox41" />
  </appSettings>
    <startup>
		<startup useLegacyV2RuntimeActivationPolicy="true">
			<startup useLegacyV2RuntimeActivationPolicy="true">
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    </startup>
	</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AForge" publicKeyToken="c1db6ff4eaa06aeb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.5.0" newVersion="2.2.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>