<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RTPS" value="rtsp://admin:killall123@192.168.10.153:554/cam/realmonitor?channel=1#subtype=0"/>
    <add key="Framerate" value="20"/>
    <add key="Canal" value="1"/>
	<add key="Servidor" value="localhost"/>
	<add key="Banco" value="dbPercurso"/>
	<add key="Web" value=""/>
    <add key="UrlWeb" value=""/>
	<add key="WebZ" value=""/>
	<add key="User" value="vox41"/>
  <add key="PwdServidor" value="vox41"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <startup useLegacyV2RuntimeActivationPolicy="true">
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  </startup>
</configuration>
